.field{
  width: 400px;
  padding-bottom: 30px;
}

.colour-border{
  border: 3px solid rgb(255, 0, 255);
  padding: 40px;
}

.header{
  padding: 30px;
}

body{
  padding: 40px;
  background-color: rgb(34, 255, 0);
}